<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Ekle</title>
</head>
<body>

    <h1>Not Ekle</h1>
    <form action="notekle" method="post">
        {% csrf_token %}
        Başlık:  (30 karakter)<br>
        <input name="baslik">
        <br><br>
        İçerik:  (255 karakter)<br>
        <input name="icerik">
        <br><br>
        <input type="submit" value="Ekle">
        </form>
</body>
</html>